%section#section-show-position-header
  .container
    .jumbotron
      .actions.pull-right
        %small
          = user_byline @position.user
          - if can? :edit, @position
            = link_to [:edit, @position] do
              %i.fa.fa-edit
              수정
          - if can? :destroy, @position
            = link_to @position, method: :delete do
              %i.fa.fa-trash
              삭제

      .position-header-title{ style: 'font-weight: bold; padding: 0; margin-top: 40px; margin-bottom: 50px;' }
        %h4.text-center= link_to @position.issue.title, @position.issue
        %h2.text-center
          “
          = @position.body
          ”

      - unless @position.voted?(current_user)
        .vote-box.text-center
          = link_to position_votes_path(@position, vote: { choice: :agree }), method: :post, class: 'btn btn-default' do
            = choice_icon(:agree)
            찬성
          = link_to position_votes_path(@position, vote: { choice: :disagree }), method: :post, class: 'btn btn-default' do
            = choice_icon(:disagree)
            반대
          %div{ style: 'margin-top: 10px;' }
            = link_to '잘 모르겠어요', '#', class: 'text-muted'

      - if @position.voted?(current_user)
        .result-box.text-center(style="margin-top: 50px")
          %ul.nav.nav-tabs(role="tablist")
            %li(class="#{'active' if current_user.leaders.any?}" role="presentation" style="width:50%")
              %a(href="#result-leaders" role="tab" data-toggle="tab")
                %i.fa.fa-users
                내가 지지하는 사람들
            %li(class="#{'active' if current_user.leaders.empty?}" style="width:50%")
              %a(href="#result-anonymous" role="tab" data-toggle="tab")
                %i.fa.fa-cloud
                모든 사람들
          .tab-content
            .tab-pane#result-leaders(class="#{'active' if current_user.leaders.any?}" role="tabpanel")
              .row
                - if current_user.leaders.any?
                  .col-xs-6
                    %h5
                      = choice_icon(:agree)
                      찬성
                      .lead
                        %strong= @position.votes.by_leaders_me(current_user).agree_percent
                        \%
                    - @position.votes.agree.by_leaders_me(current_user).each do |vote|
                      = user_byline vote.user
                  .col-xs-6
                    %h5
                      = choice_icon(:disagree)
                      반대
                      .lead
                        %strong= @position.votes.by_leaders_me(current_user).disagree_percent
                        \%
                    - @position.votes.disagree.by_leaders_me(current_user).each do |vote|
                      = user_byline vote.user
                - else
                  .col-xs-12
                    %div(style='margin-top: 20px') 아직 지지하는 사람이 없습니다.
                    %a(href="#") 지지할 사람 찾기
            .tab-pane#result-anonymous(class="#{'active' if current_user.leaders.empty?}" role="tabpanel")
              .row
                .col-xs-6
                  %h5
                    = choice_icon(:agree)
                    찬성
                    .lead
                      %strong= @position.votes.agree.count
                  - @position.votes.agree.each do |vote|
                    = user_byline vote.user
                .col-xs-6
                  %h5
                    = choice_icon(:disagree)
                    반대
                    .lead
                      %strong= @position.votes.disagree.count
                  - @position.votes.disagree.each do |vote|
                    = user_byline vote.user

      %div(style='width: 100%; min-height: 5em;')
        - 20.times.each do
          %div(style='min-width: 5%; height: 5em; position: relative; float:left;')
            - agree_height = "1.#{[1,2,3,4,5,6].sample}"
            - disagree_height = "1.#{[6,3,2,4,1,8].sample}"
            %div(style='min-height: #{agree_height}em; background-color: #cfcfcf; width: 90%; position: absolute; bottom: #{disagree_height}em; right: 5%;')
            %div(style='min-height: #{disagree_height}em; background-color: #bfbfbf; width: 90%; position: absolute; bottom: 0; right: 5%;')

