%li.list-group-item[position]
  = link_to position.body, position
  = position.user.nickname
  - unless current_user == position.user
    - if position.user.leader_of?(current_user)
      지지 중입니다.
      = link_to '지지철회하기', cancel_supports_path(leader_id: position.user), method: :delete
    - else
      = link_to '지지하기', supports_path(support: { leader_id: position.user.id }), method: :post
  - if local_assigns[:activities_concerned] and local_assigns[:activities_concerned].any?
    - if activities_concerned.of_agree.any?
      %h5 찬성
      - activities_concerned.of_agree.each do |activity|
        @#{activity.trackable.user.nickname}
    - if activities_concerned.of_disagree.any?
      %h5 반대.
      - activities_concerned.of_disagree.each do |activity|
        @#{activity.trackable.user.nickname}
    - if activities_concerned.of_opinion.any?
      %h5 의견
      %ul
        - activities_concerned.of_opinion.each do |activity|
          %li
            = activity.trackable.body
            @#{activity.trackable.user.nickname}
