%h3 입장

= @position.body

- if can? :edit, @position
  = link_to [:edit, @position] do
    %i.fa.fa-edit
    수정
- if can? :destroy, @position
  = link_to @position, method: :delete do
    %i.fa.fa-trash
    삭제

%hr

- if can? :create, Vote
  = link_to position_votes_path(@position, vote: { choice: :agree }), method: :post, class: 'btn btn-default' do
    %i.fa.fa-thumbs-up
    찬성
    = @position.votes.agree.count
  = link_to position_votes_path(@position, vote: { choice: :disagree }), method: :post, class: 'btn btn-default' do
    %i.fa.fa-thumbs-down
    반대
    = @position.votes.disagree.count
- else
  %i.fa.fa-thumbs-up
  찬성
  = @position.votes.agree.count
  %i.fa.fa-thumbs-down
  반대
  = @position.votes.disagree.count

%hr

= link_to new_position_opinion_path(@position) do
  %i.fa.fa-edit
  의견 적기

%hr

%ul
  - @position.opinions.each do |opinion|
    %li
      = opinion.body
      = opinion.choice
      - if can? :edit, opinion
        = link_to [:edit, opinion] do
          %i.fa.fa-edit
          수정
      - if can? :destroy, opinion
        = link_to opinion, method: :delete do
          %i.fa.fa-trash
          삭제
