= render 'position_header'

%section#section-show-position-opinions
  .container
    .row
      - 2.times do
        .col-sm-6
          - if user_signed_in? && @position.voted?(current_user)
            .form-opinion
              = form_for [@position, Opinion.new] do |f|
                .form-group
                  = f.text_area :body, placeholder: '의견 적기', class: 'form-control'
                = f.submit '찬성 의견 남기기', class: 'btn btn-default btn-sm btn-block'

          %hr

          %ul.media-list
            = render @position.opinions
