%section#section-issue-title{ style: 'margin-top: -40px;' }
  .jumbotron
    .container
      .actions.pull-right
        %small
          = link_to '수정', edit_issue_path
      %h2= @issue.title
      %p= simple_format @issue.description

%section#section-issue-news
  .container
    .page-header
      %h3
        뉴스
        %small (0)

%section#section-issue-positions
  .container
    .page-header
      %h3
        투표
        %small (#{@issue.positions.count})
    .row.position-list
      = render @issue.positions

%section#section-issue-canoes
  .container
    .page-header
      %h3
        카누
        %small (0)
